{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    var newURL = "";
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            window.location = window.location+"status?latitude=e&longitude=e"
        }
    }
    function showPosition(position) {
        window.location = window.location+"status?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude;
    }
    window.onload = getLocation();
</script>

LOADING …
{% endblock %}
